{% extends 'base.html.twig' %}

{% block title %}Add pet{% endblock %}

{% block actions %}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Add pet</h2>
        {{ form(form) }}
    </div>
{% endblock %}