{% extends 'base.html.twig' %}

{% block title %}Pet list{% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{{ path('pet_add') }}">Add pet</a>
{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Pet list</h2>
        {% if not pets|length %}
            <div class="alert alert-secondary" role="alert">
                List of pets is empty
            </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Specie</th>
                    <th scope="col">Owner</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in pets %}
                    <tr>
                        <th scope="row">{{ pet.id }}</th>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.specie }}</td>
                        <td>{{ pet.owner.fullname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}