<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

    <title>Pets Manager - {% block title %}Dashboard{% endblock %}</title>
</head>
<body>
{% include 'menu.html.twig' with {actions: block('actions')} %}
{% include 'messages.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>