{% set action = app.request.attributes.get("_controller") %}
{% set controller = action|split('::')[0] %}

<nav class="navbar navbar-expand navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ path('home') }}">Pets Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if controller == 'PM\\Presentation\\Owner\\OwnerController' %} active{% endif %}">
                <a class="nav-link" href="{{ path('owner_list') }}">Owners</a>
            </li>
            <li class="nav-item{% if controller == 'PM\\Presentation\\Pet\\PetController' %} active{% endif %}">
                <a class="nav-link" href="{{ path('pet_list') }}">Pets</a>
            </li>
            <li class="nav-item{% if action == 'PM\\Presentation\\Report\\ReportController::reportA' %} active{% endif %}">
                <a class="nav-link" href="{{ path('report_report_a') }}">Report A</a>
            </li>
            <li class="nav-item{% if action == 'PM\\Presentation\\Report\\ReportController::reportB' %} active{% endif %}">
                <a class="nav-link" href="{{ path('report_report_b') }}">Report B</a>
            </li>
        </ul>
    </div>

    {{ actions|raw }}
</nav>
