{% set flashes = app.flashes %}
{% if flashes|length %}
    <div class="container mt-4">
        {% for label, messages in flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}