{% extends 'base.html.twig' %}

{% block title %}Owner list{% endblock %}

{% block actions %}
    <a class="btn btn-success" href="{{ path('owner_add') }}">Add owner</a>
{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Owner list</h2>

        {% if not owners|length %}
            <div class="alert alert-secondary" role="alert">
                List of owners is empty
            </div>
        {% else %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                </tr>
                </thead>
                <tbody>
                {% for owner in owners %}
                    <tr>
                        <th scope="row">{{ owner.id }}</th>
                        <td>{{ owner.name }}</td>
                        <td>{{ owner.surname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}