{% extends 'base.html.twig' %}

{% block title %}Report A{% endblock %}

{% block actions %}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Report A</h2>
        {% if not report|length %}
            <div class="alert alert-secondary" role="alert">
                Report not available
            </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Pets</th>
                </tr>
                </thead>
                <tbody>
                {% for item in report %}
                    <tr>
                        <td>{{ item.name }} {{ item.surname }}</td>
                        <td>
                            {% if not item.pets|length %}
                                no pets
                            {% else %}
                                <ul style="list-style-type: none;margin: 0; padding: 0">
                                    {% for pet in item.pets %}
                                        <li>{{ pet.name }} ({{ pet.specie }})</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}