{% extends 'base.html.twig' %}

{% block title %}Report B{% endblock %}

{% block actions %}{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h2>Report B</h2>
        {% if not report|length %}
            <div class="alert alert-secondary" role="alert">
                Report not available
            </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number of pets</th>
                </tr>
                </thead>
                <tbody>
                {% for item in report %}
                    <tr>
                        <td>{{ item.name }} {{ item.surname }}</td>
                        <td>{{ item.numberOfPets }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}